


<div class="jumbotron">
<h1 align="center">Welcome to ROR</h1>
<p> Learn Everything You Need</p>

</div>
<p>
Screen readers will have trouble with your forms if you don't include a label for every input. For these inline forms, you can hide the labels using the .sr-only class. There are further alternative methods of providing a label for assistive technologies, such as the aria-label, aria-labelledby or title attribute. If none of these is present, screen readers may resort to using the placeholder attribute, if present, but note that use of placeholder as a replacement for other labelling methods is not advised
</p>
<p> hi</p>

how 
r
u
</p>